.box {
  border: 1px solid;
  margin-bottom: 30px;
  text-align: center;
}

.box:first-of-type {
  margin-top: 50px;
}

.box small {
  text-align: center!important;
}

.box:last-of-type {
  margin-bottom: 175px;
}

table {
  width: 100vw;
  left: 0;
  bottom: 0;
  height: 15vh;
}

nav {
  bottom: 0;
  position: fixed;
  width: 100vw;
  left: 0;
}

#nonactive a {
  color: white;
  text-decoration: none;
}

.link {
  text-align: center;
  border: 1px solid;
  width: 50vw;
  background-color: rgb(80, 88, 85);
  bottom: 0;
}

#active {
  color: gold;
}

#active a {
  color: gold;
  text-decoration: none;
}

#map {
  height: 84vh;
  width: 100vw;
  top:0!important;
  left:0!important;
  position: fixed!important;
}
